{% extends 'base.html' %}


{% block content %}
    <div id='wordcloud'></div>
{% endblock content %}


{% block javascript %}
    <script>
      d3.wordcloud()
        .size([800, 400])
        .selector('#wordcloud')
        .words([
            {text: 'cloud', size: 15},
            {text: 'spider', size: 12},
            {text: 'word', size: 5},
            {text: 'lamb', size: 4},
            {text: 'mary', size: 1},
            {text: 'white', size: 1},
            {text: 'snow', size: 1},
            {text: 'under', size: 1},
        ])
        .start();
    </script>
{% endblock javascript %}
