{% extends 'base.html' %}

{% block content %}
       <h2>Please, type an URL Adddres</h2>
       <form method="post" action=".">
           <input type="text" name="url" size="80">
           <input type="submit" name="ok" valie="ok">
        </form>

        <div class="info">
            <ul>
            <li>You can use <code>https://en.m.wikipedia.org/wiki/Evil</code>
            to get a pretty negative sentiment</li>
            
            <li>And 
            <code>https://en.m.wikipedia.org/wiki/Good</code> to get a very
            positive sentiment. </li>
            </ul>
        </div>

{% endblock content %}
