{% extends 'base.html' %}

{% block content %}
    <h2> Analyzed pages <span class="badge badge-primary">{{ num_pages }}</span></h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th> Id. page </th>
                <th> Title </th>
                <th> URL </th>
                <th> Sentiment<br>analysis </th>
            </tr>
        </thead>
        <tbody>
        {% for p in pages %}
        <tr>
            <td> {{ p.id_page }} </td>
            <td> {{ p.title }} </td>
            <td> {{ p.url }} </td>
            <td> {{ p.sentiment }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>    

{% endblock content %}
