{% extends 'base.html' %}


{% block content %}
       <h2>Thank you for your input</h2>
       <p>Your URL <code>{{ url }}</code> has been analyzed and this is your word cloud</p>

    <div id='wordcloud'></div>
{% endblock content %}
    
{% block javascript %}
    <script>
      d3.wordcloud()
        .size([800, 400])
        .selector('#wordcloud')
        .words([
            {% for word,count in words %}
            { text: '{{ word }}', size: {{ count }} }, {% endfor %}
        ])
        .start();
    </script>
{% endblock javascript %}
