{% extends 'base.html' %}


{% block content %}
<h2>Words, ordered by frequency
    <span class="badge badge-primary">{{ num_words }}</span></h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id. word</th>
                <th> Word </th>
                <th> counter </th>
            </tr>
        </thead>
        <tbody>
        {% for word in words %}
        <tr>
            <td> {{ word.id_word }} </td>
            <td> {{ word.word }} </td>
            <td> {{ word.counter }} </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>    

{% endblock content %}
